.linegraph {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  min-height: 320px;
  max-width: 520px;
}

.linegraph h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

canvas.chartjs-render-monitor {
  max-width: 500px;
  max-height: 300px;
}
